@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to E4 User Management System</h1>
    <BR>
        <H3> Click on menu options to use system.</H3>
</div>
